#title {
  background-color: #ff4c68;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
  color: white;
  Padding-bottom: 50px;
  Padding-left: 16px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.tindog-title {
  font-size: 2rem;
}

.iphone-dog {
  transform: rotate(25deg);
}

.navbar-decoration {
  padding-bottom: 100px;
}

.btn-move {
  margin-left: 16px;
}

@media only screen and (min-width: 767px) {
  .my-row {
    margin: 200px 200px;
    /* text-align: center; */
  }
}

.text-center {
  text-align: center;
}

.selling-point {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.selling-description {
  color: #8f8f8f;
  padding: 10px 30px;
}

.icon-color {
  color: #ef8172;
  padding-bottom: 30px;
}

.fas:hover {
  color: #ff4c68;
}

/* testimonials section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 8% 16%;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 4%;
}

.press-logo {
  width: 10%;
  margin: 16px 16px 48px;
}

/* pricing section */
.card-price {
  color: black;
}

.pricing-plan {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  text-align: center;
  padding: 100px 50px 50px;
}

.pricing-script {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #8f8f8f;
  padding: 50px;
}

.text-month {
  color: #F8A488;
}

.btn-overridden {
  color: #F8A488;
}

.btn-overridden:hover {
  background-color: #ef8172;
}

ul {
  color: #8f8f8f;
  font-family: 'Montserrat-400', sans-serif;
}

.labrador-card {
  border-color: green;
  transform: scale(1.1)
}